* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    font-family: "Ubuntu",sans-serif;
}
nav {
    display: flex;
    height: 64px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
}
nav a{
    text-decoration: none;
    color: black;
    height: 32px;
}
.nav__name a{
    display: flex;
}

.nav__name span{
    display: none;
}

.nav__chair {
    display: inline-block;
}

.nav__tv {
    display: inline-block;
}

.nav__profile {
    display: inline-block;
}

.nav__menu {
    display: none;
    height: 32px;
}

main{
    width: 100vw;
}

.hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.hero__img {
    width: 100%;
}

.hero__img img{
    width: 100%;
}

.hero__text {
    padding: 32px 16px;
}

.hero__text p{
    margin: 32px 0 24px;
}

.hero__text a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    background-color: gray;
    color: white;
}
.information {
    display: flex;
    width: 100%;
}
.information__leftArticle {
    display: none;
}

.information__rightArticle {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 0px;
    width: 100%;
}

.information__rightArticle p,a{
    font-size: 10px;
}

.information__microArticle {
    width: 100%;
}

.information__microArticle picture{
    width: 100%;
}

.information__microArticle picture img{
    width: 100%;
}

.information__microArticle__text {
    padding: 16px 16px 32px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.information__microArticle__text a{
    color: lightblue;
    text-decoration: none;
}

.information--extraPaddingTop {
    padding-top: 16px;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
    width: 100%;
}

.course h2{
    padding-bottom: 16px;
}

.course__content {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 8px;
}

.course__block {
    width: 100%;
    background-color: lightgray;
}

.course__block picture{
    width: 100%;
    display: none;
}

.course__block picture img{
    width: 100%;
}

.course_blockSubtext {
    display: none;
}

.course__blockText {
    padding: 16px 16px 24px;
}

.thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
    padding: 32px 0 24px;
}

.thesis__contentLeft {
    width: 100%;
}

.thesis__contentLeft figure{
    width: 100%;
}

.thesis__contentLeft figure video{
    width: 100%;
}

.thesis__contentLeft figcaption{
    display: none;
}

.thesis__contentRight {
    display: none;
}

footer {
    display: flex;
    padding: 16px;
}

.footer__left {
    font-size: 10px;
}

.footer__right {
    display: none;
}